In [60]:
import pandas as pd

In [61]:
pd.set_option('display.max_columns', None)

In [71]:
df = pd.read_parquet("/Users/YGT/ist-airport-decision-support-system/data/silver/trajectories/2025-03-adsb.parquet")
df.head()

,hex,icao,date,trajectory_timestamp,point_timestamp,latitude,longitude,altitude_baro,ground_speed,track,baro_rate,nav_altitude_mcp,distance_km,on_ground
0,4bb061,4bb061,2025-03-01,2025-03-01 00:00:00+00:00,2025-03-01 08:29:58+00:00,40.948605,27.973064,11325.0,330.299988,85.000000,NaN,11675.0,74.681221,False
1,4bb061,4bb061,2025-03-01,2025-03-01 00:00:00+00:00,2025-03-01 08:30:17+00:00,40.951260,28.011766,10650.0,324.399994,84.699997,-1792.0,10975.0,71.715553,False
2,4bb061,4bb061,2025-03-01,2025-03-01 00:00:00+00:00,2025-03-01 08:30:22+00:00,40.951862,28.020193,10525.0,322.299988,84.800003,NaN,10875.0,71.071960,False
3,4bb061,4bb061,2025-03-01,2025-03-01 00:00:00+00:00,2025-03-01 08:30:32+00:00,40.953213,28.040169,10325.0,315.200012,84.900002,NaN,10675.0,69.555695,False
4,4bb061,4bb061,2025-03-01,2025-03-01 00:00:00+00:00,2025-03-01 08:30:41+00:00,40.954376,28.057146,10175.0,308.399994,84.599998,NaN,10525.0,68.272301,False